# First
## Second
### ASD

# Comments example and printing the hello world

In [ ]:
print

In [17]:
#Below code print a list
fruit1 = input("Enter 1st fruit")
fruit2 = input("Enter 2nd fruit")
fruit3 = input("Enter 3rd fruit")

my_fruit_list = [fruit1, fruit2, fruit3]

print("My fruit list contains: ",my_fruit_list)

Enter 1st fruitApple
Enter 2nd fruitBanana
Enter 3rd fruitMango
My fruit list contains:  ['Apple', 'Banana', 'Mango']

In [19]:
fruit1, fruit2, fruit3 = input("Enter 3 fruits names").split()

my_fruit_list = [fruit1, fruit2, fruit3]

print("My fruit list contains: ",my_fruit_list)

Enter 3 fruits namesAp Ba Ma
My fruit list contains:  ['Ap', 'Ba', 'Ma']

In [2]:
#I am printing hello world. 

'I am printing hello world.'

"I am printing hello world." 

"""
I am printing hello world. 
I love to use python for my data science projects to become a data scientist.
"""
print("Hello World!")

a=19

Hello World!

In [5]:
print("My birthday is on: ",a)

My birthday is on:  19

In [14]:
#print a value of variable

integer_variable = 'MBA'
print("The value and type of variable =",integer_variable, type(integer_variable))

The value and type of variable = MBA <class 'str'>

In [12]:
#check data type of a variable

type(integer_variable)

int

In [6]:
#take input from user

first_name = input("Enter your first name: ")

Enter your first name: CP

In [5]:
type(first_name)

str

In [14]:
#execute inline statements

2+2

4

In [8]:
#take two inputs from users and add them

a = input("First Number")
b = input("Second Number")

sum = int(a) + int(b)

print("Sum=", sum)

First Number12
Second Number78
Sum= 1278

In [16]:
#example of typecasting

num = 10
num1 = float(num)
num1

10.0

# String Basics

In [18]:
name = 'MBA-AI&DS'

In [19]:
#print indexes characters
name[0]

'M'

In [4]:
name[-9]

'M'

In [5]:
name[-1]

'S'

In [20]:
#print characters ranges

name[0:3]

'MBA'

In [21]:
#String slicing

name[1:6:2]

'B-I'

In [22]:
#Another example of slicing

name[:5]

'MBA-A'

In [23]:
name[1:]

'BA-AI&DS'

# String Functions

In [24]:
len(name)

9

In [25]:
name.count("M")

1

In [26]:
name.capitalize()

'Mba-ai&ds'

In [27]:
name

'MBA-AI&DS'

In [28]:
name1 = name.capitalize()

In [29]:
name1

'Mba-ai&ds'

In [30]:
#return a string in upper case
name1.upper()

'MBA-AI&DS'

In [31]:
name.lower()

'mba-ai&ds'

In [32]:
name.replace("A","Z")

'MBZ-ZI&DS'

In [1]:
strn = 'Hello class! Welcome in Python lab'

In [13]:
#Returns list of substrings
strn1 = strn.split(" ",2)

In [14]:
strn1

['Hello', 'class!', 'Welcome in Python lab']

In [39]:
strn1[0]

'Hello'

In [40]:
strn2 = ' MBA '

In [41]:
strn2.strip()

'MBA'

In [42]:
name

'MBA-AI&DS'

In [43]:
name1

'Mba-ai&ds'

In [55]:
name1.swapcase()

'mBA-AI&DS'

# Python List

In [1]:
numbers = [1,2,3,4,5,6]

In [2]:
type(numbers)

list

In [3]:
numbers[3]

4

In [2]:
numbers

[1, 2, 3, 4, 5, 6]

In [5]:
numbers.reverse()

print(numbers)

[6, 5, 4, 3, 2, 1]

In [3]:
#list of different types of values

mix = [1, 2.5, 'myname']

In [4]:
mix

[1, 2.5, 'myname']

In [6]:
mix[1]

2.5

In [7]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [5]:
numbers2 = [5,4,3,2,1]
numbers2.sort()
print(numbers2)

[1, 2, 3, 4, 5]

In [9]:
numbers2

[1, 2, 3, 4, 5]

In [10]:
numbers2.append(6)

In [11]:
numbers2

[1, 2, 3, 4, 5, 6]

In [12]:
numbers2.pop(5)

6

In [6]:
numbers2

[1, 2, 3, 4, 5]

In [7]:
numbers2.insert(3,8)

In [8]:
numbers2

[1, 2, 3, 8, 4, 5]

In [9]:
numbers2.remove(8)

In [10]:
numbers2

[1, 2, 3, 4, 5]

In [19]:
numbers2.count(1)

1

# Python Tuples

In [26]:
#Creation of tuples

Empty_Tuple = ()
One_Element_Tuple = (1,)
More_Element_Tuple = (1, 7, 2)

In [27]:
print(Empty_Tuple)
print(One_Element_Tuple)
print(More_Element_Tuple)

()
(1,)
(1, 7, 2)

In [28]:
print(len(Empty_Tuple))
print(len(One_Element_Tuple))
print(len(More_Element_Tuple))

0
1
3

In [29]:
print(type(One_Element_Tuple))

<class 'tuple'>

In [95]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [98]:
tuple2.count(1)

1

In [99]:
tuple2.index(1)

0

# Python Dictionary

In [100]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [101]:
print(thisdict["brand"])

Ford

In [102]:
#avoid duplicates

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [104]:
#Dictionay length
print(len(thisdict))

3

In [105]:
print(type(thisdict))

<class 'dict'>

In [106]:
#The dict() Constructor

thisdict1 = dict(name = "John", age = 36, country = "Norway")
print(thisdict1)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [107]:
#Get Keys

x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [108]:
#Get Values

y = thisdict.values()
y

dict_values(['Ford', 'Mustang', 2020])

In [109]:
#Get Items

z = thisdict.items()
z

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [1]:
#Update Dictionary

thisdict2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [3]:
thisdict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
thisdict2.update({"year": 2023})

In [5]:
thisdict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

In [6]:
#Adding Items

thisdict2["color"] = "red"
print(thisdict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023, 'color': 'red'}

In [7]:
#Removing Items

thisdict2.pop("model")
print("My dict after removin model",thisdict2)

My dict after removin model {'brand': 'Ford', 'year': 2023, 'color': 'red'}

In [18]:
key1 = input("Enter 1st name")
value1 = input("Enter 1st language")

key2 = input("Enter 2nd name")
value2 = input("Enter 2nd language")

key3 = input("Enter 3rd name")
value3 = input("Enter 3rd language")

key4 = input("Enter 4th name")
value4 = input("Enter 4th language")

my_dict = {
    key1 : value1,
    key2 : value2,
    key3 : value3,
    key4 : value4
}

Enter 1st namew
Enter 1st language1
Enter 2nd namex
Enter 2nd language2
Enter 3rd namey
Enter 3rd language3
Enter 4th namez
Enter 4th language4

In [20]:
my_dict

{'w': '1', 'x': '2', 'y': '3', 'z': '4'}

In [21]:
type(my_dict)

dict

# Python Sets

In [114]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [115]:
print(type(thisset))

<class 'set'>

In [116]:
print(len(thisset))

3

In [117]:
set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

In [118]:
#The set() Constructor

thisset1 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset1)

{'apple', 'cherry', 'banana'}

In [119]:
#Add Items

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [120]:
#Add Sets

tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'cherry', 'orange', 'banana', 'papaya', 'mango'}

In [121]:
#Add Any Iterable

mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'pineapple', 'cherry', 'kiwi', 'orange', 'banana', 'papaya', 'mango'}

In [122]:
#Remove Item

thisset.remove("banana")

print(thisset)

{'apple', 'pineapple', 'cherry', 'kiwi', 'orange', 'papaya', 'mango'}

In [123]:
#The clear() method empties the set:

thisset.clear()

print(thisset)

set()

In [126]:
#The del keyword will delete the set completely:

In [127]:
#Join Two Sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [128]:
#The update() method inserts the items in set2 into set1:

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [129]:
#Keep ONLY the Duplicates

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [130]:
#Keep All, But NOT the Duplicates

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [1]:
# Python code to demonstrate working of iskeyword()

# importing "keyword" for keyword operations
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']